<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="responsive.css">

    <script src="https://kit.fontawesome.com/38aa091195.js" crossorigin="anonymous"></script>

</head>
<body>
 
<nav id="Boss">
    <ul class="navbar">
        <li class="jumpl"><img id="grg"src="../grg.jpg" alt="no-image" srcset="">
        
        </li>
        <li class="OOOP">Roman Gurung</li>
        <li class="sky hideo opact" id="cot"><a href="#local">Contact</a> </li>
        <li class="sky hideo opact"> <a href="#IT"> About</a></li>   
       
    </ul>
     <div class="burger">
            <div class="line1"></div>
             <div class="line2"></div>
              <div class="line3"></div>
        </div>
</nav>    

<div id="IT">
    <video autoplay muted loop id="myvideo">

    <!-- muted xa bhane autoplay autoplay it. -->
        <source src="../video.mp4" type="video/mp4">
   
    </video>
<div class="info">
    <div id="Roman">
        <img id="photo" src="../ORIGINAL.png" alt="No-Image">
    </div>
    <span id="SELF">
<span class="first">it's me </span>
<span class="second"> Roman Gurung</span>
<div class="message">
I am learning these: C Programming,java programming and web devlopment

</div>


<div class="container">
<div class="box-1" onclick="runs()">
SEND MESSAGE
</div>
<div class="box-2" onclick="srun()">
    CONTACT NOW
</div>
</div>
<div class="more">
    M O R E
</div>

<div id="sidebar">

<a href="https://www.facebook.com/profile.php?id=100077413142892" target="blank">


<img class="monk" src="../facebook.png" alt="No-imag"></a>

<a href=""><img class="monk" src="../insta.png" alt="No-imag"></a>
<a href=""><img class="monk" src="../youtube.jpg" alt="No-imag"></a>
<a href=""><img class="monk" src="../linkedin.png" alt="No-imag"></a>

<a href="#Boss"><i class="fa fa-angle-up"></i>
</a>

</div> 
</span>


</div>
</div>
{{!-- Yo dherai sapce yo button div lya khayeko raixa 
in IT border --}}

<div class="content">
    {{!-- <button class="btn" onclick="button()">Pause</button> --}}

</div>

<div class="skill">
<div class="bor1" id="circle">
    HTML
    &nbsp;75%
</div>
<div class="bor2" id="circle">
CSS &nbsp;60%
</div>
<div class="bor3" id="circle">
JavaScript
&nbsp;&nbsp;&nbsp;&nbsp;30%
</div>
<div class="bor4"id="circle">
    &nbsp;&nbsp;&nbsp;C &nbsp;50%
</div>
<div class="bor5" id="circle">
JAVA
&nbsp;25%
</div>
</div>
<!-- dont know so comment </div> -->
<div class="section1" >
<div class="vox">
<i class="fa fa-handshake-o"></i>
   <br> <span id="five"></span>
<footer>FINISHED PROJECT</footer>
</div>

<div class="vox">
    <i class="fa fa-play-circle-o"></i>
    <br> <span id="four">4</span>
    <footer>COURSES FINISHED</footer>

</div>
<div class="vox">
    <i class="fa fa-clock-o"></i>
    <br> <span id="eighteen">18</span>
    <footer id="work">WORKING HOURS</footer>

</div>

<div class="vox">
    <i class="fa fa-coffee"></i>
    <br> <span id="twenty">20</span>
    <footer id="coffee">COFFEE CUPS</footer>

</div>

</div>


<div id="contact">
    <div class="mess">CONTACT</div>
     <div class="shmess">contact us</div>

     <div class="contact-box">
<div class="jug"id="jug1">
    <i class="fa fa-map-marker"></i>
<span class="add" style="padding: 0px 10px;">ADDRESS
</span>
<footer class="foot" style="padding: 0px 72px;">Ranibari-16 Samakhusi Kathmandu, Nepal

</footer>
</div>

<div class="jug"id="jug2">
    <i class="fa fa-volume-control-phone"></i>
    <span class="add">CONTACT NO
    </span>
    <footer class="foot phone" style="padding: 1px 73px;">
        PHONE:
    </footer>
</div>

<div class="jug" id="jug3">
    <i class="fa fa-envelope-o"></i>
    <span class="add">EMAIL
    </span>
    <footer class="foot" style="padding: 0px 72px;">romangurung569@gmail.com</footer>

</div>
<div id="jug4" class="jug">
 <a href="https://www.facebook.com/profile.php?id=100077413142892" target="blank">   <i class="fa fa-facebook"></i></a>
  <a href="" target="blank">  <i class="fa fa-instagram"></i></a>

</div>


     </div>
</div>


<div id="local">

<form class="myform" action="/local" method="post">

    <span id="text">Name <span id="star">*</span></span>
    <div>
<input type="text" name="first" id="first" required>
 <input type="text" name="last" id="last" required>
</div>
<div>

 <span class="year">First</span>
<span class="last">Last</span>
</div>
<br> <!-- here space is created -->

<div >

<span id="text" class="email">Email</span> <span id="star">*</span>
<br>
<input type="text" name="email"class="mail" id="email" required>
    
</div>
<div>
    <span id="text" class="email">Subject</span> <span id="star">*</span>

    <input type="text" name="Subject"class="mail" id="email" required>
    
</div>

<div>
    <span id="text" class="email">Message</span> <span id="star">*</span>
<textarea name="message" id="messageme" cols="" rows="10" required></textarea>
    <!-- <input type="text" name="message" class="mail" id="email"> -->
    
</div>

<button id="done">Submit</button>

</form>

<aside id="spread">
<div class="sp1">
Spread the love
</div>
<div id="sp2">
<a href="https://www.facebook.com/profile.php?id=100077413142892" target="blank"><img class="monk" src="../facebook.png" alt="" srcset=""></a>
<a href=""><img class="monk" src="../insta.png" alt="" srcset=""></a>
<a href=""><img class="monk" src="../whatsapp.jpg" alt="No-image" srcset=""></a>
<a href=""><img class="monk" src="../linkedin.png" alt="" srcset=""></a>
<a href=""><img class="monk" src="../github.jpg" alt="" srcset=""></a>
<a href=""><img class="monk" src="../share.png" alt="" srcset=""></a>

</div>

</div>
</aside>

<footer id="thend">
    Copyright © 2023 Roman Gurung | Powered by Astra WordPress Theme

</footer>


<script type = "text/javascript" >  
    function preventBack() 
    { 
        window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null };  


{{!-- AGADi ko js  --}}

{{!-- var video=document.getElementById("myvideo"); --}}
{{!-- var btn=document.body.getElementsByClassName("btn")[0]; --}}

function runs(){

window.location.href="http://localhost:8000/#local";
{{!-- both dooos same work --}}

{{!-- window.location.assign("http://localhost/#local"); --}}
}

function srun(){

window.location.assign("http://localhost:8000/#contact");

{{!-- window.location.assign("http://192.168.1.80:8000/#contact"); --}}

}

function button(){
if(video.paused){
    video.play();
    btn.innerHTML="Pause";
}
else{
    video.pause();
    btn.innerHTML="Play";
}

}
let five=document.getElementById("five");
let i=0;
do{


five.innerHTML=`${i}`;
five.classList.add("glow");  
i++;
}while(i<=5);



let vox=document.getElementsByClassName('vox')[0];
let email=document.getElementById("email");
let done=document.getElementById("done");
{{!-- if(email!==true){
$(document).ready(function(){
  $("done").click(function(){
    $("form").removeClass("action");
  });
});

} --}}

// If the length of the element's string is 0 then display helper message 
  if(done=="onclick"){ 
     if (email.value.length == 0)
      { 
        console.log("SAD");
$(document).ready(function(){
  $("done").click(function(){
    $("form").removeAttribute("action");
  
  });
});
 }  	
  }  

  
let burger=document.getElementsByClassName("burger")[0];
let sky=document.querySelector('.sky');
let sky1=document.getElementsByClassName("sky")[1];
let opact=document.querySelector('.opact');
let opact1=document.getElementsByClassName('opact')[1];

burger.addEventListener('click',function(){

sky.classList.toggle("hideo");
sky1.classList.toggle("hideo");
sky.classList.toggle('opact');
sky1.classList.toggle('opact');

})

</script>


<script src="index.js"></script>
<script src="host.js"></script>
</body>
</html>